body{
    font-family: 'Lato', sans-serif;
}
#quiz {
margin-left: 10px;
background: #aad696;
padding: 10px 20px 10px 20px;
width: 500px;
float: left;
border-radius: 20px;
height: 750px;
}
input{
    margin-bottom: 15px;
    
}
#textbox{
    height: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: #aad696;
    padding-left: 5px;
    
}